<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
body {
	font-size: 18px;
	font-family:Arial;
	text-align:left;
	margin:20px 0 0 0;
	padding:0
}
img{ border:0;}

</style>
</head>
<body>

  <div class="content">
  <p>您好，${mailData.userName}</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;项目已经满标，请及时登录多融易管理系统进行放款处理。
</p>
   <p>&nbsp;&nbsp;&nbsp;&nbsp;项目名称：${mailData.projName}
                
</p>
 <p>&nbsp;&nbsp;&nbsp;&nbsp;项目编号：${mailData.projNumber}
</p>
  </div>

<div style="margin-top:50px; width:100%">
<div id="logo"><a href="${mailData.website}" target="_blank"><img src="${mailData.website}/theme/${mailData.proj_them}/images/logo.gif" height="70" /></a></div>
<p>${mailData.description}</p>
<div style="border: 1px solid"></div>
<p>注：此邮件由系统自动发送，请勿回复。</p>
<p>如果您有任何疑问，请联系客服电话${mailData.phone}</p>
</div>


</body>
</html>
