@charset "UTF-8";

body,div,ul,li,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0
}

.sea * {
    margin: 0;
    padding: 0;
}

.sea_alpha {
    opacity: 0;
    filter: alpha(opacity=0)
}

.sea li {
    list-style: none
}

a,area {
    outline: 0;
    text-decoration: none;
}

#wrap {
    position: relative;
}

#page {
    width: 100%
}

#content {
    width: 100%
}

.sea {
    font-size: 12px;
    font-family: "宋体";
    white-space: wrap;
    background: #fff;
    padding-top: 20px;
}

.sea_mian {
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px
}

.sea img {
    display: block;
    border: 0
}

.sea_zw {
    width: 200px;
    overflow: hidden;
    float: left
}

.sea_slideBar {
    width: 200px;
    border: 1px solid #e0e0e0;
    border-width: 0 0 0 1px;
    height: auto;
    font-family: 微软雅黑,宋体;
    float: left;
    z-index: 9;
    position: relative
}

.sea_warp {
    background: #406a86;
    width: 200px;
    color: #fff
}

.sea_container {
    float: right;
    width: 788px;
    position: relative;
    z-index: 99
}

.sea_warp div {
    height: 14px;
    line-height: 14px;
    text-indent: .1em;
    background: #467492;
    padding-bottom: 10px
}

.sea_warp div a {
    color: #fff;
    display: block;
    height: 100%;
    text-decoration: none;
    padding-left: 40px;
    padding-bottom: 10px
}

.sea_warp div a:hover {
    opacity: .7;
    filter: alpha(opacity=70)
}

.sea_warp .h3,.sea_warp .h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    height: 46px;
    cursor: pointer;
    text-indent: inherit;
    padding-bottom: 0;
    background: #406a86;
    padding-left: 25px
}

.sea_warp .h4 {
    color: #a2ccef;
    cursor: inherit;
    background: #467492
}

.sea_warp .h3 {
    background: url(../images/aside/tiaokaishi.jpg) center bottom no-repeat
}

.sea_selected {
    background: #fff;
    color: #467492
}

.sea_selected div,.sea_selected .h3,.sea_selected .h4 {
    border: 1px solid #e0e0e0;
    border-width: 0 1px 0 1px;
    border-right-color: #fff;
    background: #fff
}

.sea_selected .h4 {
    color: #c0ced7;
    background: #fff
}

.sea_selected div a {
    color: #467492
}

.sea_selected div a:hover {
    color: #ff644e;
    opacity: 1;
    filter: alpha(opacity=100)
}

.sea_selected .h3 {
    background: url(../images/aside/tiao.jpg) center bottom no-repeat
}

.sea_bottom,.sea_bottom2 {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 202px;
    height: 4px;
    background: url(../images/aside/huabian.jpg)
}

.sea_pic2 {
    margin-bottom: 20px
}

.sea_con_warp h4 {
    line-height: 38px;
    height: 38px;
    color: #63afed;
    font-family: 微软雅黑,宋体;
    font-size: 18px
}

.sea_con_warp p {
    line-height: 26px;
    color: #467492
}

.t1 {
    margin: 15px 0 40px 35px
}

.icon {
    background: url(../images/aside/duigou.png) left 10px no-repeat;
    padding-left: 25px
}

.icon em,.sea_con_warp em {
    font-style: normal;
    font-weight: 700;
    color: #467492
}

.t2 {
    margin: 15px 0 8px 0
}

.sea_warp div a.sea_actived,.sea_warp div a.sea_actived:hover {
    color: #ff644e;
    opacity: 1;
    filter: alpha(opacity=100)
}

.login_submit {
    padding: 22px 0 56px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #ddd;
    overflow: hidden;
    margin: 0 auto;
}

.login_submit a {
    padding: 12px 34px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    -webkit-appearance: none;
    font: 16px Cambria, Georgia, serif;
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
    background-color: #24bbe4;
    border-bottom: 3px solid #00799a;
    margin: 15px auto;
    font-weight: 700;
    border-radius: 5px;
}

.login_submit a:hover {
    background-color: #6ec8c7;
    border-bottom: 3px solid #379392;
}

.calFBox {
    position: relative;
}

.mtTB {
    margin-top: 26px;
    margin-bottom: 34px;
}

.calFBox {
    margin-left: 30px;
    overflow: hidden;
    +height:68px;
}

.calFBoxL1 {
    margin-top: 20px;
}

.calFBoxL1, .calFBoxL2 {
    color: #393939;
    font-size: 14px;
    float: left;
    width: 70px;
    margin-right: 5px;
}

.calNumHide {
    width: 275px;
    height: 46px;
    line-height: 46px;
    text-align: right;
    background: none;
    color: #000;
    font-size: 30px;
    border: 1px solid #02b2f0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 2px #0078b4;
    -moz-box-shadow: inset 0px 0px 2px #0078b4;
    -o-box-shadow: inset 0px 0px 2px #0078b4;
    -ms-box-shadow: inset 0px 0px 2px #0078b4;
    box-shadow: inset 0px 0px 2px #0078b4;
    /*vertical-align: middle;*/
}

.yahei {
    font-family: \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei',SimHei,SimSun;
    color: #666;
}

.calFBoxL2 {
    margin-top: 8px;
}

.calFBoxL1, .calFBoxL2 {
    color: #393939;
    font-size: 14px;
    float: left;
    width: 70px;
    margin-right: 5px;
}

.calFBoxRPer a {
    font-family: \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei',SimHei,SimSun;
    font-size: 16px;
    color: #292c30;
    display: block;
    height: 46px;
    text-align: center;
    line-height: 46px;
    float: left;
    width: 46px;
    margin-bottom: 20px;
    margin-right: 15px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    border-radius: 23px;
    border: 1px solid #24bbe4;
}

.calFBoxRPer a:hover {
    background: #02b2f0;
    color: #fff;
}

.calFBoxRPer .curr {
    background: #02b2f0;
    color: #fff;
}

.calFBoxRPer .timeqingchun36 {
    display: none;
}

.calRInsert {
    width: 100%;
    margin: 0 auto;
}

.calDetailTable {
    border: 1px solid #ddd;
    width: 100%;
    _border-collapse: collapse;
    -webkit-box-shadow: 0 3px 3px #eee;
    -moz-box-shadow: 0 3px 3px #eee;
    box-shadow: 0 3px 3px #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.calRInsert table {
    border: 1px solid #E0E0E0;
    margin: 20px 0 0 0;
    color: #000;
    border-radius: 5px;
    border-spacing: 2px!important;
    border-collapse: separate!important;
}

.calRInsert tr,.calRInsert tbody th,.calRInsert tbody td {
    height: 40px;
}

.calRInsert tbody th,.calRInsert .thead th {
    width: 430px;
    text-align: center;
    color: #515151;
    /*border-right: 1px solid #ddd;*/
    font-weight: bolder;
    background-color: #0697DA;
    color: #fff!important;
    font-size: 16px;
}

.calRInsert tbody td {
    text-align: center;
    color: #515151;
    width: 430px;
    height: 40px;
    font-size: 15px;
}

.tailTable tbody tr:nth-child(2n) {
    background: #e1e4e9;
}

.calRInsert thead th {
    background-color: #f9f9f9;
    color: #02b2f0;
    height: 40px;
    font-size: 16px;
}

.calRInsert strong {
    color: #C10000;
}

.calDetailT {
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei',SimHei,SimSun;
    display: block;
    text-align: center;
    height: 42px;
    line-height: 42px;
    /*width: 320px;*/
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 5px 0 40px;
    float: right;
}

.calDetailT span {
    background: #24bbe4;
    display: block;
    width: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    border-bottom: 3px solid #00799a;
}

.tailTable1 {
    overflow: hidden;
}

.tailTable {
    display: none;
    padding-top: 5px;
    height: auto;
}

.popBox {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    cursor: default;
    outline: 0 none;
    z-index: 999;
    position: absolute;
    border: 1px solid #00a8e7;
    margin: 2px 0 0;
    height: 123px;
    overflow: auto;
    width: 280px;
}

.popBox li {
    padding: 10px 10px 10px 20px;
    color: #666;
    cursor: pointer;
    margin: 0;
}

.loantypespec a {
    font-family: \5FAE\8F6F\96C5\9ED1,'Microsoft YaHei',SimHei,SimSun;
    font-size: 16px;
    color: #292c30;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 5px;
    -webkit-border-radius: 86px;
    -moz-border-radius: 86px;
    -ms-border-radius: 86px;
    border-radius: 86px;
    border: 1px solid #24bbe4;
}

.loantypespec a:hover,.loantypespec .curr {
    background: #02b2f0;
    color: #fff;
}

.loantypespec p {
    text-indent: 80px;
    font-size: 16px;
    color: #02b2f0;
}

.sea_containerbg {
    display: none;
    z-index: 999;
}
.sea_containerbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: 100%;
   /* background: #f6f6f6;*/
}

.sea_containerbg .sea_container {
    width: 822px;
    height:550px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    margin-left: -431px;
    margin-top: -309px;
    padding: 20px;
    border-radius: 12px;
    /*+height:558px;
    height:558px\0;
    +margin-top:-250px;
    margin-top:-250px\0;
    +padding:0;
    padding:0\0;*/
}


.sea_containerbg .t1 {
    margin: 40px 0 0;
}

.sea_containerbg .debg {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -7px;;
    right:0px;
    font-size: 24px;
    font-style:normal;
}

.aside {
    position: fixed;
    bottom: 20%;
    right: 0;
}
.aside a {
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    z-index: 1099;
    display: block;
    margin-bottom: 3px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid #ddd;
    font-weight: bolder;
    position: relative;
}

.aside .userapply {
    background: url(../images/aside/mes.png) no-repeat 50% 50%;
}

.aside .customer {
    background: #eaedf2 url(../images/aside/qq.png) no-repeat 45% 50%;
}

.aside .tel {
    /*background: url(../images/aside/tel.png) no-repeat 50% 50%;*/
    text-indent: 0;
	color: #0078b4;
	background: #eaedf2
}

.aside .count {
    background: url(../images/aside/count.png) no-repeat 50% 50%;
}

.aside .gotop {
    background: #eaedf2 url(../images/aside/top.png) no-repeat 50% 50%;
}

.aside span {
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top: -1px;
    right: 60px;
    color: #fff;
    line-height: 32px;
    background: #01b0f1;
    padding: 10px;
    border-right: 1px dashed #ccc;
    opacity: 0;
    filter:alpha(opacity=0;);
}

.aside a:hover {
    text-indent: 0;
    background: #01b0f1;
    border-color: #01b0f1
}
/*如果已经有一个申请，则i添加userapplyone*/
.aside .userapplyone {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -7px;
    right: -2px;
    background: url(../images/aside/one.png) no-repeat left 0;
}

/*新浮标样式*/
.page_top{position:fixed;right:20px;top:54%;width:44px;margin-top:-126px;/*z-index:500*/}
.page_top li{position:relative;height:43px;vertical-align:top;}
.page_top a{cursor: pointer;text-indent: -9999px;position:absolute;right:0;top:0;width:44px;height:44px;line-height:44px;transition: all 0.5s linear;}
.page_top ul li .top_a{background:url(../images/aside/01.png)-44px 0;}
.page_top ul li .top_a:hover{background:url(../images/aside/01.png)0px 0px;}

.page_top ul li .top_d{background:url(../images/aside/02.png)-44px 0px;}
.page_top ul li .top_d:hover{background:url(../images/aside/02.png) 0 0px;}

.page_top ul li .top_b{background:url(../images/aside/03.png)-44px 0px;}
.page_top ul li .top_b:hover{background:url(../images/aside/03.png) 0 0px;}

.page_top ul li .top_c{background:url(../images/aside/04.png)-44px 0px;}

.page_top ul li .top_f{background:url(../images/aside/fix_anzuo.png)-44px 0px;}
.page_top ul li .top_f:hover{background:url(../images/aside/fix_anzuo.png)0px 0px;}

.page_top ul li .top_f .toolbar-layer2{
    display: inline-block;
    height: 120px;
    width: 120px;
    background:#fff url("../images/aside/pic_anzuo.jpg") no-repeat;
    position: absolute;
    z-index: 100;
    right: 45px;
    bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    transform-origin: 95% 95%;
    -moz-transform-origin: 95% 95%;
    -ms-transform-origin: 95% 95%;
    -o-transform-origin: 95% 95%;
    -webkit-transform-origin: 95% 95%;
    transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.page_top ul li .top_f:hover .toolbar-layer2{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.toolbar-layer3{
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
    transform: scale(1)!important;
    -webkit-transform: scale(1)!important;
}













.page_top ul li .top_c .toolbar-layer {
    display: inline-block;
    height: 120px;
    width: 120px;
    background:#fff url("../images/pic_weixin.jpg") no-repeat;
    position: absolute;
    z-index: 100;
    right: 45px;
    bottom: 0px;
     opacity: 0;
      filter: alpha(opacity=0);
    transform-origin: 95% 95%;
    -moz-transform-origin: 95% 95%;
    -ms-transform-origin: 95% 95%;
    -o-transform-origin: 95% 95%;
    -webkit-transform-origin: 95% 95%;
    transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.page_top ul li .top_c:hover .toolbar-layer{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.page_top ul li .top_c:hover{background:url(../images/aside/04.png) 0 0px;}

.page_top ul li .top_e{background:url(../images/aside/05.png)-44px 0px;}
.page_top ul li .top_e:hover{background:url(../images/aside/05.png) 0 0px;}

/*
.page_top{position:fixed;right:20px;top:60%;width:48px;margin-top:-126px;!*z-index:500*!}
.page_top li{position:relative;height:48px;vertical-align:top;margin-bottom: 6px}
.page_top a{cursor: pointer;text-indent: -9999px;position:absolute;right:0;top:0;width:48px;height:48px;line-height:48px;transition: all 0.5s linear;}
.page_top ul li .top_a{background:url(../images/aside/fixed_nav.png)-48px 0;}
.page_top ul li .top_a:hover{background:url(../images/aside/fixed_nav.png) 0 0;}

.page_top ul li .top_d{background:url(../images/aside/fixed_nav.png)-48px -54px;}
.page_top ul li .top_d:hover{background:url(../images/aside/fixed_nav.png) 0 -54px;}

.page_top ul li .top_b{background:url(../images/aside/fixed_nav.png)-48px 156px;}
.page_top ul li .top_b:hover{background:url(../images/aside/fixed_nav.png) 0 156px;}

.page_top ul li .top_c{background:url(../images/aside/fixed_nav.png)-48px 102px;}
.page_top ul li .top_c .toolbar-layer {
    display: inline-block;
    height: 120px;
    width: 120px;
    background:#fff url("../images/pic_weixin.jpg") no-repeat;
    position: absolute;
    z-index: 100;
    right: 49px;
    bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
   transform-origin: 95% 95%;
    -moz-transform-origin: 95% 95%;
    -ms-transform-origin: 95% 95%;
    -o-transform-origin: 95% 95%;
    -webkit-transform-origin: 95% 95%;
    transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.page_top ul li .top_c:hover .toolbar-layer{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.page_top ul li .top_c:hover{background:url(../images/aside/fixed_nav.png) 0 102px;}

.page_top ul li .top_e{background:url(../images/aside/fixed_nav.png)-48px 48px;}
.page_top ul li .top_e:hover{background:url(../images/aside/fixed_nav.png) 0 48px;}
*/



/*.page_top a:hover{background:#fd7754;  text-indent:0px; color:#fff;line-height:22px; font-size:14px; text-align:center;}*/
/*.page_top a:hover span{line-height:50px;}*/
/*.page_top .top_a{background-position:0 0}
.page_top .top_b{background-position:0 -61px}
.page_top .top_c{background-position:0 -122px}
.page_top .top_d{background-position:0 -183px}
.page_top .top_e{background-position:0 -244px }*/

/*.xy-site-nav-bd-l li a span.weixin_Unselected i.icon_weixin {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../images/icon/weixin.png) 0 0;
    transition: all 0.5s linear;
}

.xy-site-nav-bd-l li a span.weixin_Unselected:hover i.icon_weixin{
    background: url('../images/icon/weixin.png') 0 -20px;
}*/








/*.tx_bar{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.page_top .top_a .tx_bar,.page_top .top_b .tx_bar,.page_top .top_c .tx_bar,.page_top .top_d .tx_bar,.page_top .top_e .tx_bar{-webkit-transition:width 0.1s ease;-moz-transition:width 0.1s ease;-o-transition:width 0.1s 0.1s ease;transition:width 0.1s ease;text-align:center;position:absolute;right:50px;overflow:hidden;width:0px;height:50px;background-color:#fd7754;}
.page_top .top_a:hover .tx_bar,.page_top .top_b:hover .tx_bar,.page_top .top_c:hover .tx_bar,.page_top .top_d:hover .tx_bar,.page_top .top_e:hover .tx_bar{position:absolute;right:50px;top:0;display:inline-block;width:140px;background-color:#fd7754;;vertical-align:top;color:#fff;text-align:center}*/
/*.page_top .h{min-height:166px;padding:0 0 20px}
.page_top .top_c .h{min-height:320px}*/
/*.page_top .top_c:hover,.page_top .top_d:hover{width:51px;background-position:1px -122px}
.page_top .top_d:hover{background-position:1px -183px}
.page_top .top_c:hover .tx_bar,.page_top .top_d:hover .tx_bar{right:51px}
!*.qrcd{display:none}
.page_top .top_b:hover .qrcd{position:absolute;left:-170px;top:-4px;display:block}*!
.page_top .top_c:hover .tx_bar,.page_top .top_d:hover .tx_bar{padding:0 0 10px}*/

